<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/freelancer-bootstrap3.css')}}"/>
      <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/font-awesome/css/fontAwesome.css" rel="stylesheet" type="text/css">
    <link href="../static/font-awesome/css/fontawesome-webfont.eot.css" rel="stylesheet" type="text/css">
    <link href="../static/font-awesome/css/fontawesome-webfont.css" rel="stylesheet" type="text/css">
    <link href="../static/font-awesome/css/fontawesome-webfont.woff.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{=URL('static','js/main.js')}}"></script>
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <link rel="shortcut icon" href="../static/img/pestana.ico" />
      
        {{
      
  response.files.append(URL('static','css/freelancer.css'))
  response.files.append(URL('static','css/bootstrap.min.css'))
  response.files.append(URL('static','css/bootstrap-responsive.min.css'))
  response.files.append(URL('static','css/freelancer_bootstrap.css'))
  response.files.append(URL('static','css/bootstrap.css'))
  response.files.append(URL('static','css/freelancer.css'))
  }}

  
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'freelancer_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->

    
    <meta property="og:title" content="BienAll" />
    <meta property="og:description" content="Compartí tu experiencia con el arte" />
    <meta property="og:image" content="http://159.203.5.192/BienAll/static/img/profile.png" />      
    <meta property="og:url" content="https://empleoenchaco.com.ar/informatorio/bienall" />
      

</head>

<body id="page-top" class="index">
<!--pop up para compartir a TW-->
        <script>
          $('.popup').click(function(event) {
            var width  = 50,
                height = 400,
                left   = ($(window).width()  - width)  / 2,
                top    = ($(window).height() - height) / 2,
                url    = this.href,
                opts   = 'status=1' +
                         ',width='  + width  +
                         ',height=' + height +
                         ',top='    + top    +
                         ',left='   + left;
            window.open(url, 'twitter', opts);
            return false;
          });
        </script>

    <!-- Navigation -->

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                  <img src="../static/img/logoBienAll_icono.ico">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{=URL('default', 'index')}}" class="navbar-brand" href="#page-top">BienAll</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{=URL('default', 'galeria')}}">Galería</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{=URL('default', 'dejaTuHuella')}}">Dejá Tu Huella</a>
                    </li>
                    <!--<li class="page-scroll">
                        <a href="#" id="login" class="btn-primary">Iniciar sesión  <i class="fa fa-facebook" aria-hidden="true"></i></a>  
                    </li> -->   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="../static/img/qbits.png" alt="" width="150" height="150">
                    <div class="intro-text">
                        <!--<span class="peque"><b>QBITS</b></span>-->
                        <hr class="star-light">
                        <span class="skills">Quality bits</span><br><br><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 negro">
                    <p class="qbits">Es una empresa creada en el Informatorio 2016, que nace desde la iniciativa de crear aplicaciones para motivar el turismo. </p>
                </div>
                <div class="col-lg-4 negro">
                    <p class="qbits"> BienAll fue creada para que todos aquellos apasionados por el arte y las fotografias puedan compartir su experiencia con el mundo a través de fotos de esculturas y arte en general del Chaco y asi impulsar el turismo en nuestra provincia</p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                </div>-->
            </div>
        </div>
    </header>
    <section id="contact" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestro equipo</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../static/img/team/Ricardo1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Ricardo Gauto</h4>
                        <p class="text-muted chica"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/ricardogauto11" target=_blank><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/ricardogauto11" target=_blank><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/ricardogauto11" target=_blank><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../static/img/team/Pablo1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Pablo Bielsa</h4>
                        <p class="text-muted chica"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/pablo_bielsa" target=_blank><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/pablobielsa" target=_blank><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/pablojmbielsa" target=_blank><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../static/img/team/Anita1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Ana Pokorasky</h4>
                        <p class="text-muted chica"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/LaJuanex?lang=es" target=_blank><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/anitaPokorasky" target=_blank><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/ana-victoria-pokorasky-1a515311b?trk=nav_responsive_tab_profile_pic" target=_blank><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 galeria item">
                </div>
            <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../static/img/team/Flo1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Florencia Aguirre</h4>
                        <p class="text-muted chica"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/aguirreflomik" target=_blank><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/floaguirre" target=_blank><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/floaguirre?trk=nav_responsive_tab_profile" target=_blank><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../static/img/team/Cesar1.jpg" class="img-responsive img-circle" alt="">
                        <h4>César Villegas</h4>
                        <p class="text-muted chica"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/tato_cmv" target=_blank><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/tato.cmv" target=_blank><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/villegascesar" target=_blank><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 galeria item">
                </div>
       <!-- <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>-->
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <center> <img class="img-responsive" src="../static/img/info.png" alt="" width="300" height="300"></center>                   
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 negro">
                    <p>El Informatorio Chaco es un Laboratorio de Capacitaciones Informáticas, una iniciativa que surge como acción concreta luego del trabajo de vinculación entre Universidad, Industria y Estado, quienes a partir del análisis llevado a cabo en el Foro de Competitividad de la Industria de SSI (año 2009 al 2010) se propusieron como estrategia la “Formación de Recursos Humanos en Herramientas Informáticas específicas”.</p>
                </div>
                <div class="col-lg-4 negro">
                    <p> El proyecto del Informatorio es un claro ejemplo que demuestra el valor del curso y la vinculación y trabajo en conjunto con UTN-FRRe, Sistemas Globales, las Empresas del Polo IT Chaco y el Ministerio de Industria, Empleo y Trabajo. </p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                </div>-->
            </div>
        </div>
    </section>-->

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <center> <img class="img-responsive" src="../static/img/bienal.jpg" alt="" width="400" height="400"></center>  
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>La Bienal del Chaco fue declarada de interés municipal, provincial y nacional. Fue declarada de interés turístico y reconocida con la licencia Marca País Argentina por el Ministerio de Turismo de la Nación. Declarada de interés cultural por la Organización de los Estados Americanos, la Secretaría General de la Presidencia de la Nación, el Ministerio de Cultura, el Senado, el Ministerio de Relaciones Exteriores y Culto y por la Cámara de Diputados de la Provincia del Chaco.   </p>
                </div>
                <div class="col-lg-4">
                    <p>Distinguida por su alto interés artístico y cultural con el auspicio de La Academia Nacional de Bellas Artes y el Fondo Nacional de las Artes. Reconocida por la Asociación Argentina de Críticos de Arte con el premio Alfredo Roland a la trayectoria cultural y por la Fundación Konex con el premio Konex a las artes visuales argentinas. Desde el año 1997 cuenta con el auspicio permanente de la UNESCO.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <center> <img class="img-responsive" src="../static/img/urunday.jpg" alt="" width="400" height="400"></center>  
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>La Fundación Urunday ha logrado promover la Cultura mediante una de sus disciplinas, instalar los concursos al aire libre como espacio de intercambio sociocultural entre el artista y los distintos pueblos de nuestro país y del mundo, </p>
                </div>
                <div class="col-lg-4">
                    <p> insertar a la Argentina en los circuitos internacionales de concursos de escultura en espacios públicos y transformar a Resistencia en un museo al aire libre de características únicas, con miras de ser reconocida como patrimonio cultural de la humanidad.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h4><a href="{{=URL('default', 'masApps')}}">Apps relacionadas</a></h4>
                        <!--<p>Frondizi 4 piso 174<br>Resistencia chacop</p>-->
                    </div>
                    <div class="footer-col col-md-4">
                        <h4>Compartí BienAll con tus amigos</h4>
                        <ul class="list-inline">
                            <li>
                                <a href="http://www.facebook.com/sharer.php?u=https://empleoenchaco.com.ar/informatorio/bienall" class="popup btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>

                                <script>
                                  $('.popup').click(function(event) {
                                    var width  = 400,
                                        height = 400,
                                        left   = ($(window).width()  - width)  / 2,
                                        top    = ($(window).height() - height) / 2,
                                        url    = this.href,
                                        opts   = 'status=1' +
                                                 ',width='  + width  +
                                                 ',height=' + height +
                                                 ',top='    + top    +
                                                 ',left='   + left;
                                    window.open(url, 'facebook', opts);
                                    return false;
                                  });
                                </script>
                            </li>
                            <li>
                                <a href="https://plus.google.com/share?url=https://empleoenchaco.com.ar/informatorio/bienall" class="popup2 btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>

                                <script>
                                  $('.popup2').click(function(event) {
                                    var width  = 400,
                                        height = 400,
                                        left   = ($(window).width()  - width)  / 2,
                                        top    = ($(window).height() - height) / 2,
                                        url    = this.href,
                                        opts   = 'status=1' +
                                                 ',width='  + width  +
                                                 ',height=' + height +
                                                 ',top='    + top    +
                                                 ',left='   + left;
                                    window.open(url, 'google', opts);
                                    return false;
                                  });
                                </script>
                            </li>
                            <li>
                                <a href="http://twitter.com/home?status=Visita%20esta%20pagina%20https://empleoenchaco.com.ar/informatorio/bienall" class="popup3 btn-social btn-outline"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a> 
                                <script>
                                  $('.popup3').click(function(event) {
                                    var width  = 400,
                                        height = 400,
                                        left   = ($(window).width()  - width)  / 2,
                                        top    = ($(window).height() - height) / 2,
                                        url    = this.href,
                                        opts   = 'status=1' +
                                                 ',width='  + width  +
                                                 ',height=' + height +
                                                 ',top='    + top    +
                                                 ',left='   + left;
                                    window.open(url, 'twitter', opts);
                                    return false;
                                  });
                                </script>
                            </li>
                            <li>
                            <div class="visible-xs">
                                <a href="whatsapp://send?text=https://empleoenchaco.com.ar/informatorio/bienall" data-action="share/whatsapp/share" class="btn-social btn-outline"><i class="fa fa-whatsapp"></i></a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h4><a href="{{=URL('default', 'nosotros')}}">Nosotros</a></h4>
                        <!--<p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                    Creado por <a href="https://fb.com/qbits.ar/" target=_blank>Qbits</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>

</html>
